h1 {
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
fieldset {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
  position: relative;
}
button {
  margin-left: 15px;
}
.container {
  position: relative;
}
#hangThing {
  position: absolute;
  max-width: 58%;
  max-height: auto;
  float: left;
  margin: -70px;
  z-index: -1;
}
#body1 {
  z-index: 2;
  max-width: 25%;
  max-height: auto;
  float: left;
  margin-left: -60px;
}
#body2 {
  max-width: 25%;
  max-height: auto;
  float: left;
  margin-left: -60px;
  z-index: 3;
}#body3 {
  max-width: 25%;
  max-height: auto;
  float: left;
  margin-left: -60px;
  z-index: 4;
}#body4 {
  max-width: 25%;
  max-height: auto;
  float: left;
  margin-left: -60px;
  z-index: 5;
}#body5 {
  max-width: 25%;
  max-height: auto;
  float: left;
  margin-left: -60px;
  z-index: 6;
}#body6 {
  max-width: 25%;
  max-height: auto;
  float: left;
  margin-left: -60px;
  z-index: 7;
}
#textbox {
  float: right;
  margin-right: 500px;
}
#finalGuesser {
  float: right;
  margin-top: 100px;

}
#underscore {
  margin-top: 300px;
  padding-left: 600px;
  letter-spacing: 5px;
  font-size: 50pt;
}
#backBtn {
  position: absolute;
  bottom: 20px;
}
